<header class="masthead bg-custom-web text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <%= image_tag 'logoblanco.png', class:"masthead-logo" %>
                <!-- Masthead Heading-->
                <h1 class="masthead-heading mb-0 text-black"><span class="shadow">Intelligent, creative & intuitive media services.</span> </h1>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0 shadow">Videos - Web Designer - Photographer</p>
            </div>
  
</header>
<!-- Portfolio Section-->
        <section class="page-section portfolio bg-light" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Portfolio</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Grid Items-->
                <div class="row justify-content-center">
                    <!-- Portfolio Item 1-->
                  
                   <div class="col-md-6 col-lg-4 mb-5">
                   <%= image_tag 'Fotos _Family.jpg', class:"img-style rounded"%>

                   </div>
                   <div class="col-md-6 col-lg-4 mb-5">
                   <%= image_tag 'Portada Eventos.jpg', class:"img-style rounded" %>
                   </div>
                   <div class="col-md-6 col-lg-4 mb-5">
                   <%= image_tag 'Fotos_Portrait.jpg', class:"img-style rounded" %>
                   
                   </div>
                   
                    
                   
                </div>
            </div>
        </section>
        <section class="container">
        <h2 class="page-section-heading text-center mt-2">
        Transforming ideas into <strong>results</strong>

        </h2>
        <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                  </div>
                </div>
        </div>
        <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                  </div>
                </div>
        </div>
        <div class="col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                 <%= image_tag 'websolutions.png', class:"card-img-top" %>
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-info">Go somewhere</a>
                  </div>
                </div>
        </div>
        </div>
        </section>